<div>
<header>
  <h1>Blog</h1>
    {{#if isLogged}}
  <h1>{{user.currentUser}}asdasd</h1>
    {{/if}}


  <nav id="menu">
    <ul>
      {{#if isLogged}}
      <li><a href="#charts">{{i18n 'Charts'}}</a></li>

      <li><a href="#expenses">{{i18n 'Expenses'}}</a></li>
      {{/if}}
      <li>
        <div id="userbar">Loading...</div>
      </li>
    </ul>
  </nav>

</header>

<!-- router contents -->
<main id="maincontent">Loading...</main>


<footer>
  <div id="languagecontrol">Loading...</div>
</footer>
</div>
